.my-jumbotron-bg{
    background-image: url("images/jumbotron-800x400.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: black;
    text-shadow: 2px 2px 3px lightgray;
}

.fade{
   opacity: 0.6;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover{
    opacity: 1;
}